.contactPage {
  padding: 2rem 5%;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #3F0576; /* Purple background to match the rest of the site */
  border-radius: 10px;
}

.contactTitle {
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
}

.contactForm {
  padding: 1rem;
}

.inputGroup,
.submitGroup {
  margin-bottom: 1.5rem;
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  color: #e9ecef; /* Lighter text color for contrast */
}

.inputField,
.textAreaField {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #9C7DFF; 
  border-radius: 5px;
  background-color: #5B2E98;  
  color: #fff;               
  font-family: "Josefin Sans", sans-serif;
}

.textAreaField {
  resize: vertical;
}

.submitButton {
  border: none;
  padding: 10px 20px;
  background-color: #7E57C2;    
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #9C7DFF;    
  transform: scale(1.05);
}
