.aTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .aboutImage {
    border-radius: 50%; 
    overflow: hidden;
  }
  
  .roundImage {
    border-radius: 50%; 
  }
  
  .aboutText {
    max-width: 600px;
    text-align: center;
  }
  